
.container{
    width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.s-block{
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.header {
    height: 150px;
    background-color: #73dee6;
}

.nav{
    height: 150px;
    background-color: #51a7ad;
}
.main_content{
    display: flex;
    height: 400px;
}
.right_content{
    flex-grow:4;
    background-color: #346791;
}
.left_content{
    flex-grow: 1;
    background-color: #2b83cc;
}
.footer{
    height: 150px;
    background-color: #4b6eeb;
}